body {
  background: #101c28;
  color: white;
}

h1 {
  text-decoration: underline;
}

h1, p, h2{
  text-align: center;
}

p, label, li {
  font-size: 1.4em;
}

ol {
  width: 50%;
  margin: auto;
  text-align: center;
}

.fila-labo:display {
  transition: width 2s;
}

.compu {
  background: #c62828;
  color: white;
}

.mante {
  background: #6d4c41;
  color: white;
}

.desa {
  background: #0e668d;
  color: white;
}

section {
  display: flex;
  justify-content: center;
}

.check-group {
  margin: 4px;
  text-align: center;
}

.fila-labo, .parte {
  border: 2px solid #737473;
}

.parte {
  margin: 15px 0;
  padding: 5px

}

.text-danger {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
}

button {
  height: 30px;
  background: #558b2f;
  margin: inherit;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.btn-cerrar{
  background: #d00000;
}

#footer {
  color: black;
  background-color: #b2dfdb;
  margin: inherit;
  width: auto;

}

.nota {
  text-align:center;
  margin: 8px
}

input {
  width: 15%;
  font-size: 1.5rem;
  text-align: center;
  height: 1.2rem;
}

/* Para quitar las arrow of input type number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

@media only screen and (max-width: 520px) {
  #seleccionar-items {
    display: block;
  }

  .fila-labo {
    margin: 10px 0;
  }

  .class="check-button" {
    height: 1.2rem;
  }
}

/* styles for modal */
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal-dialog {
  background: #101c28;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal-header {
  display: flex
}

.modal-header > h2 {
  width: 90%
}

.modal-header > a {
  border: 2px solid white;
}
